<footer class="bg-white pt-5">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center border-top pt-3">
            <div class="small mb-3">
                ©
                <a href="https://chinaredman.com/" target="_blank" rel="noopener">China Redman</a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="https://github.com/xcChinaxc" target="_blank" rel="noopener">
                    <i class="icon-inner fab fa-github" aria-hidden="true"></i>
                    <span class="sr-only">GitHub</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="https://www.linkedin.com/in/china-redman-dev/" target="_blank" rel="noopener">
                        <i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="https://angel.co/u/china-redman" target="_blank" rel="noopener">
                        <i class="icon-inner fab fa-angellist" aria-hidden="true"></i>
                        <span class="sr-only">AngelList</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="https://twitter.com/xcChinaxc" target="_blank" rel="noopener">
                        <i class="icon-inner fab fa-twitter" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
</body>
</html>