<%- include('partials/header') -%>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <!-- Home Page Image-->
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="700" height="500">
    </div>
    <!-- Home Page Text-->
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Keep track of your characters!
      </h1>
      <p class="lead">
        Use this app to save characters and character notes for MMOs, table-top games, and more.
      </p>
      <!-- Sign Up Button -->
      <div class="d-grid lh-lg d-md-flex">
        <a href="/signup" class="btn btn-primary btn-lg px-4 me-md-2"> Sign Up for Character Keeper</a>
      </div>
    </div> <!-- col-lg-6 -->
  </div> <!-- row -->
</div> <!-- container -->

<%- include('partials/footer') -%>