<%- include('partials/navheader') -%>

<!-- Welcome Div -->
<section class="py-3 text-center container">
  <div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Create Character</h1>
    </div>
  </div>
</section class="container">

<section class="container">
  <div>
    <form action="/post/createCharacter" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="mb-3">
        <label for="game" class="form-label">Game Name</label>
        <input type="text" class="form-control" id="game" name="game">
      </div>
      <div class="mb-3">
        <label for="notes" class="form-label">Notes</label>
        <textarea class="form-control" id="notes" name="notes"></textarea>
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
        <input type="file" class="form-control" id="imageUpload" name="file">
      </div>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
  </div>
</section>