<%- include('partials/header') -%>

<main class="py-5 container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">    
      <!-- Card -->
      <div class="card card-border border-muted shadow-light-lg" data-jarallax-element="-40" style="z-index: 0; transform: translate3d(0px, 16.1003px, 0px);">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-11">

              <!-- Heading -->
              <h2 class="fw-bold text-center mb-1">
                Sign Up
              </h2>

              <!-- Text -->
              <p class="fs-lg text-center text-muted mb-6 mb-md-8">
                Use this form to create an account, or simply click [here] to try Character Keeper without signing up.
              </p>

              <!-- Sign Up Form Section -->
              <!-- errors -->
              <% if (locals.messages.errors) { %> 
                <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger">
                    <%= el.msg %>
                  </div>
                <% }) %> 
              <% } %> <% if (locals.messages.info) { %> 
                <% messages.info.forEach( el => { %>
                  <div class="alert alert-info">
                    <%= el.msg %>
                  </div>
              <% }) %> <% } %>

              <!-- Sign Up Form -->
              <form action="/signup" method="POST">
                <div class="mb-3">
                  <label for="userName" class="form-label">
                    Name
                  </label>
                  <input
                    type="text" 
                    class="form-control" 
                    id="userName" 
                    name="userName"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">
                    Email
                  </label>
                  <input 
                    type="email" 
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp" 
                    name="email"
                  />
                  <div id="emailHelp" class="form-text">
                    We'll never share your email with anyone else.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">
                    Password
                  </label>
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password" 
                  />
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">
                    Confirm Password
                  </label>
                  <input 
                    type="password" 
                    class="form-control" 
                    id="confirmPassword" 
                    name="confirmPassword"
                  />
                </div>
                <button type="submit" class="btn btn-primary mt-3 w-100">Sign Up</button>
              </form>
            </div> <!-- col-12 -->
          </div> <!-- row -->
        </div> <!-- card-body -->
      </div> <!-- card -->
    </div> <!-- col-12 -->
  </div> <!-- row -->
</main>

<%- include('partials/footer') -%>