<%- include('../partials/header') -%>

<!-- <h1 class="loginHead"><a href="/feed">T.7.Q.A.R</a></h1> -->

<main class="container">
  <div class="row justify-content-center indexBox">
    <p>404 Not Found</p>
    <p>We're sorry, this resource cannot be not found.</p>
    
    <div class="row justify-content-center mt-5">
      <a href="/dashboard" class="col-3 btn indexBtn"> Back to Dashboard</a>
    </div>
  </div>
</main>

<%- include('../partials/footer') -%>